@import url("/src/fonts/oneday/oneday-font.css");
@import url("/src/fonts/Cyrillic/multitypes-lines-columns/multilines-font.css");
@import url("/src/fonts/gotham_pro/gotham-pro-font.css");

@import "./mixins.scss";

$font-logo: "One Day";
$font-h1-ru: "Multilines";
$font-main: "Gotham Pro";

$gradient1: -webkit-linear-gradient(right, #31d7da, #ed20d2);
$gradient2: -webkit-linear-gradient(right, #31d7da, #ed20d2);

$background-color: #130515;
$menu-blue: #92f0f7;
$logo-blue: #cae0e8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: $font-main;

  @include for-phone-only {
    font-size: 10px;
  }
}

body {
  background-color: $background-color;

  @include for-phone-only {
    max-width: 400px;
  }
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  margin-top: 5px;
  margin-bottom: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: $logo-blue;
  border: none;
  border-radius: 10px;  
}

button {
  border-radius: 35.5px;
  border: none;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.24px;
  white-space: nowrap;
  padding: 0.8rem 3rem;
  font-weight: bold;
  font-family: $font-main;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  z-index: 0;

  .form-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-content: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.905);
    visibility: hidden;

    form {
      display: flex;
      flex-direction: column;
      background-color: #130515f6;
      align-items: center;
      justify-content: center;
      gap: 7vh;
      height: 70vh;
      padding: 10px 60px;
      border-radius: 16px;
      box-shadow: 1px 1px 14px $menu-blue;
      position: relative;

      @include for-phone-only {
        height: 60vh;
        padding: 10px 20px;
      }

      .form-close-btn {
        padding: 0;
        line-height: 0;
        background: none;
        justify-self: end;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;

        img {
          height: 40px;

          @include for-phone-only {
            height: 30px;
          }
        }
      }

      .form-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .switch {
          position: relative;
          display: inline-block;
          width: 16em;
          height: 50px;
          justify-self: end;
          align-self: end;

          @include for-phone-only {
            width: 18em;
            height: 40px;
          }
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: transform 0.4s;
          transition: transform 0.4s;
          border-radius: 10px;
          color: #130515;
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 0 1.4em 0 2.2em;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 84%;
          width: 8.3em;
          left: 8px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: transform 0.4s;
          transition: transform 0.4s;
          border-radius: 10px;
          content: attr(data-before);
          display: flex;
          align-items: center;
          justify-content: center;

          @include for-phone-only {
            width: 9.6em;
            height: 80%;
          }
        }

        input:checked + .slider {
          background-color: #ccc;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #ccc;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(6.7em);
          -ms-transform: translateX(6.7em);
          transform: translateX(6.7em);
        }
      }

      .form-input-container {
        display: flex;
        flex-direction: column;
        gap: 1.3em;

        .form-input {
          width: 28vw;
          border-radius: 10px;
          font-size: 18px;
          line-height: 35px;
          padding: 0.5rem 1.6rem;
          font-family: $font-main;
          color: #130515;

          @include for-phone-only {
            width: 280px;
            font-size: 12px;
          }
        }
      }

      .form-submit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;

        @include for-phone-only {
          gap: 2em;
        }

        .form-submit-btn {
          max-width: 180px;
          font-size: 18px;
          border-radius: 10px;
          padding: 8px 24px;
          color: #130515;
          // background: none;
          // border: 1px solid $light-blue;
          // color: $light-blue;
          transition: background 0.3s ease-out;
          transition: color 0.3s ease-out;

          @include for-phone-only {
            width: 130px;
            font-size: 12px;
            padding: 4px 14px;
          }

          &:hover {
            color: #fff;
            background: rgb(237, 32, 210);
            background: linear-gradient(
              90deg,
              rgba(237, 32, 210, 1) 0%,
              rgba(49, 215, 218, 1) 87%
            );
            // border: none;
          }
        }

        .private-policy-container {
          text-align: left;
          max-width: 26vw;
          align-self: end;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          font-size: 12px;
        }

        label {
          text-align: center;
          max-width: 30vw;
          font-size: 12px;

          @include for-phone-only {
            font-size: 10px;
            max-width: none;
          }
        }
      }
    }
  }
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr 1fr;
  gap: 3.8rem;
  padding: 18px;
  font-size: 22px;
  align-items: center;
  min-width: 100%;
  background-color: $background-color;

  @include for-phone-only {
    padding: 1rem;
    gap: 1.8rem;
    // grid-template-columns: 9fr 1fr 1fr;
  }

  a {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 16px;

    @include for-phone-only {
      gap: 8px;
    }

    img {
      height: 56px;

      @include for-phone-only {
        height: 28px;
      }
    }

    span {
      min-width: 200px;
      color: $logo-blue;
      font-family: $font-logo;
      font-size: 22px;
      font-weight: bold;

      @include for-phone-only {
        min-width: 100px;
        font-size: 11px;
      }
    }
  }

  button {
    justify-self: end;
    align-self: center;
    padding: 0;
    background: none;
    display: flex;

    img {
      height: 40px;

      @include for-phone-only {
        height: 20px;
      }
    }
  }

  .logo-link {
    padding-left: 40px;

    @include for-phone-only {
      padding-left: 18px;
    }
  }

  .languages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;

    ul {
      background-color: #5c207d40;
      position: absolute;
      z-index: 100;
      top: 100px;
      font-size: 18px;
      list-style: none;
      border-radius: 1.1rem;
      padding: 1.1rem 1.7rem;
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      visibility: hidden;

      @include for-phone-only {
        top: 50px;
        font-size: 9px;
      }

      li {
        padding: 0 px;

        a {
          padding-left: 0;
          color: #fff;
        }
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: $background-color;
  min-height: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 8vh;
  z-index: 1;
  min-width: 100%;
  visibility: hidden;
  overflow-y: auto;

  @include for-phone-only {
    top: 5vh;
    padding: 0 18px;
    min-width: 360px;
  }

  a {
    color: #fff;
    // transition: all 1s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    list-style: none;

    @include for-phone-only {
      gap: 55px;
    }

    a {
      font-size: 2.8rem;

      @include for-phone-only {
        font-size: 2.2rem;
      }

      &:hover {
        background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    li {
      .navlink-gradient2:hover {
        background: rgb(74, 196, 28);
        background: -moz-linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgb(74, 196, 28) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ac41c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .navlink-gradient3:hover {
        background: rgb(255, 142, 12);
        background: -moz-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8e0c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .nav-footer {
    font-size: 1.4rem;
    justify-self: end;
    height: 90px;

    a {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;

      @include for-phone-only {
        gap: 9px;
      }

      img {
        height: 36px;

        @include for-phone-only {
          height: 24px;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  // align-items: center;
  min-height: 92vh;
  padding: 60px 0 40px 140px;
  gap: 30px;

  @include for-phone-only {
    padding: 0 20px 20px 20px;
  }

  button {
    color: #fff;
    max-width: 260px;

    @include for-phone-only {
      font-size: 16px;
      width: 160px;
    }
  }

  img {
    max-width: 800px;
    height: 200px;
    rotate: -45deg;
  }

  .main-text-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 980px;
    text-align: left;
    justify-content: center;

    @include for-phone-only {
      max-width: 300px;
      align-items: center;
    }

    .main-text {
      margin-bottom: 50px;
      height: 100px;

      h1 {
        font-size: 50px;

        @include for-phone-only {
          font-size: 25px;
        }
      }

      span {
        background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 20px;
      font-optical-sizing: auto;

      @include for-phone-only {
        text-align: center;
        font-size: 12px;
      }
    }

    .register-btn {
      background: rgb(237, 32, 210);
      background: linear-gradient(
        90deg,
        rgba(237, 32, 210, 1) 0%,
        rgba(49, 215, 218, 1) 87%
      );
    }
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;

  @include for-phone-only {
    padding: 40px 18px;
  }
}

.video-section {
  img {
    @include for-phone-only {
      height: 160px;
    }
  }
}

.logo-section {
  img {
    height: 200px;

    @include for-phone-only {
      height: 140px;
    }
  }
}

.steps-section {
  ol {
    display: flex;
    list-style-position: inside;
    gap: 20px;
  }
}

.mission-section {

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    
    p {
      padding: 0 10px;
    }

  }
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  text-align: center;

  @include for-phone-only {
    margin-top: 40px;
  }
}

.menu-toggle {
  height: 26px;
  width: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;

  @include for-phone-only {
    height: 13px;
    width: 14.5px;
    justify-self: center;
  }
}

.menu-toggle-bar {
  display: block;
  min-width: unset;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $menu-blue;
  transition: all 0.35s ease-in-out;

  @include for-phone-only {
    height: 2px;
  }

  .nav-open & {
    width: 145%;
    &.menu-toggle-bar--top {
      transform: translate(0, 11px) rotate(315deg);

      @include for-phone-only {
        transform: translate(0, 5.5px) rotate(315deg);
      }
    }
    &.menu-toggle-bar--middle {
      opacity: 0;
    }
    &.menu-toggle-bar--bottom {
      transform: translate(0, -11px) rotate(-315deg);

      @include for-phone-only {
        transform: translate(0, -5.5px) rotate(-315deg);
      }
    }
  }
}