@import url("/src/fonts/oneday/oneday-font.css");
@import url("/src/fonts/Cyrillic/multitypes-lines-columns/multilines-font.css");
@import url("/src/fonts/gotham_pro/gotham-pro-font.css");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

$font-logo: "One Day";
$font-h1-ru: "Multilines";
$font-main1: "Jost", sans-serif;
$font-main2: "Gotham Pro";

$gradient1: -webkit-linear-gradient(right, #31d7da, #ed20d2);
$gradient2: -webkit-linear-gradient(right, #31d7da, #ed20d2);

$background-color: #130515;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background-color: $background-color;
}

button {
  border-radius: 35.5px;
  border: none;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.24px;
  white-space: nowrap;
  padding: 0.8rem 3rem;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  z-index: 0;
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 5fr 1fr 1fr;
  gap: 20px;
  padding: 18px;
  font-size: 22px;
  align-items: center;
  min-width: 100%;
  background-color: $background-color;

  a {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-left: 40px;

    img {
      height: 56px;
    }

    span {
      min-width: 200px;
      color: #cae0e8;
      font-family: $font-logo;
      font-size: 22px;
      font-weight: bold;
    }
  }

  button {
    justify-self: end;
    align-self: center;
    padding: 0;
    background: none;
    display: flex;

    img {
      height: 40px;
    }
  }
}

nav {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: $background-color;
  min-height: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 8vh;
  z-index: 1;
  min-width: 100%;
  visibility: hidden;
  overflow-y: auto;

  a {
    color: #fff;
    // transition: all 1s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    list-style: none;

    a {
      font-size: 2.8rem;
    }

    a:hover {
      background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    li {
      .navlink-gradient2:hover {
        background: rgb(74, 196, 28);
        background: -moz-linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ac41c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .navlink-gradient3:hover {
        background: rgb(255, 142, 12);
        background: -moz-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8e0c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  .nav-footer {
    font-size: 1.4rem;
    // display: flex;
    justify-self: end;
    // align-items: center;
    height: 90px;

    a {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;

      img {
        height: 36px;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 92vh;
  padding: 60px 0 40px 140px;
  gap: 30px;

  button {
    color: #fff;
    max-width: 260px;
  }

  img {
    max-width: 800px;
    height: 200px;
    rotate: -45deg;
  }

  .main-text-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 980px;

    .main-text {
      display: flex;
      flex-direction: column;
      // align-items: center;

      text-align: left;
      gap: 50px;

      h1 {
        font-size: 50px;
      }

      p {
        font-size: 20px;
        font-optical-sizing: auto;
      }

      span {
        background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .cyr1 {
        font-family: $font-main1;
      }

      .cyr2 {
        font-family: $font-main2;
      }
    }

    .btn-back {
      background: rgb(237, 32, 210);
      background: linear-gradient(
        90deg,
        rgba(237, 32, 210, 1) 0%,
        rgba(49, 215, 218, 1) 87%
      );
    }

    .btn-border {
      border-image: linear-gradient(
        90deg,
        rgba(237, 32, 210, 1) 0%,
        rgba(49, 215, 218, 1) 87%
      );
      border-width: 4px;
      background-color: #00000043;
    }
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.logo-section {
  img {
    height: 200px;
  }
}

.steps-section {
  ol {
    display: flex;
    // justify-content: space-around;
    list-style-position: inside;
    gap: 20px;
  }
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
