@import url("/src/fonts/oneday/oneday-font.css");
@import url("/src/fonts/Cyrillic/multitypes-lines-columns/multilines-font.css");
@import url("/src/fonts/gotham_pro/gotham-pro-font.css");

@import "./mixins.scss";

$font-logo: "One Day";
$font-h1-ru: "Multilines";
$font-main: "Gotham Pro";
$section-headline-size: 2.6em;
$mobile-section-headline-s: 1.9em;

$gradient1: -webkit-linear-gradient(right, #31d7da, #ed20d2);
$gradient2: -webkit-linear-gradient(right, #31d7da, #ed20d2);

$background-color: #130515;
$menu-blue: #92f0f7;
$logo-blue: #cae0e8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-family: $font-main;

  @include for-phone-only {
    font-size: 10px;
  }
}

body {
  background-color: $background-color;

  @include for-phone-only {
    max-width: 400px;
  }
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  margin-top: 5px;
  margin-bottom: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: $logo-blue;
  border: none;
  border-radius: 10px;
}

button {
  border-radius: 35.5px;
  border: none;
  font-size: 24px;
  line-height: 35px;
  letter-spacing: 0.24px;
  white-space: nowrap;
  padding: 0.8rem 3rem;
  font-weight: bold;
  font-family: $font-main;
  color: #fff;
  background: rgb(237, 32, 210);
  background: linear-gradient(
    90deg,
    rgba(237, 32, 210, 1) 0%,
    rgba(49, 215, 218, 1) 87%
  );

  @include for-phone-only {
    font-size: 14px;
    padding: 0.5rem 2rem;
  }
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.main-container {
  position: relative;
  z-index: 0;

  .form-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    place-content: center;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.905);
    visibility: hidden;

    form {
      display: flex;
      flex-direction: column;
      background-color: #130515f6;
      align-items: center;
      justify-content: start;
      gap: 7vh;
      height: 70vh;
      padding: 5.2rem 1.5rem;
      border-radius: 16px;
      box-shadow: 1px 1px 14px $menu-blue;
      position: relative;

      @include for-phone-only {
        height: 60vh;
      }

      .form-close-btn {
        padding: 0;
        line-height: 0;
        background: none;
        justify-self: end;
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;

        img {
          height: 40px;

          @include for-phone-only {
            height: 30px;
          }
        }
      }

      .form-header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .switch {
          position: relative;
          display: inline-block;
          width: 16em;
          height: 50px;
          justify-self: end;
          align-self: end;

          @include for-phone-only {
            width: 18em;
            height: 40px;
          }
        }

        .switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }

        .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: transform 0.4s;
          transition: transform 0.4s;
          border-radius: 10px;
          color: #130515;
          display: flex;
          align-items: center;
          justify-content: end;
          padding: 0 1.4em 0 2.2em;
        }

        .slider.telegram-icon::before {
          content: "";
          background-size: 28%;
          background-image: url("../img/icons/form_icons/telegram-icon.svg");
        }

        .slider.email-icon::before {
          content: "";
          background-image: url("../img/icons/form_icons/email-icon.svg");
        }

        .slider:before {
          position: absolute;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          content: "";
          height: 84%;
          width: 8.3em;
          left: 8px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: transform 0.4s;
          transition: transform 0.4s;
          border-radius: 10px;
          content: attr(data-before);
          display: flex;
          align-items: center;
          justify-content: center;

          @include for-phone-only {
            width: 9.6em;
            height: 80%;
          }
        }

        input:checked + .slider {
          background-color: #ccc;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #ccc;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(6.7em);
          -ms-transform: translateX(6.7em);
          transform: translateX(6.7em);
        }
      }

      .form-input-container {
        display: flex;
        flex-direction: column;
        gap: 1.3em;

        .form-input {
          width: 28vw;
          border-radius: 10px;
          font-size: 18px;
          line-height: 35px;
          padding: 0.5rem 1.6rem;
          font-family: $font-main;
          color: #130515;

          @include for-phone-only {
            width: 280px;
            font-size: 12px;
          }
        }
      }

      .form-submit-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.2em;

        @include for-phone-only {
          gap: 2em;
        }

        .form-submit-btn {
          max-width: 180px;
          font-size: 18px;
          border-radius: 10px;
          padding: 8px 24px;
          color: #130515;
          background: #ccc;
          transition: background 0.3s ease-out;
          transition: color 0.3s ease-out;

          @include for-phone-only {
            width: 130px;
            font-size: 12px;
            padding: 4px 14px;
          }

          &:hover {
            color: #fff;
            background: rgb(237, 32, 210);
            background: linear-gradient(
              90deg,
              rgba(237, 32, 210, 1) 0%,
              rgba(49, 215, 218, 1) 87%
            );
          }
        }

        .form-tg-link {
          text-align: center;
          line-height: 35px;
          letter-spacing: 0.24px;
          white-space: nowrap;
          font-weight: bold;
          display: none;
        }

        // .form-tg-link--active {
        //   display: block;
        // }

        label {
          text-align: center;
          max-width: 30vw;
          font-size: 12px;

          @include for-phone-only {
            font-size: 10px;
            max-width: none;
          }
        }
      }

      &.form-tg-mode {
        gap: 5vh;

        .form-submit-container {
          gap: 2em;

          #form-submit-btn {
            display: none;
          }
      
          .form-tg-link {
            display: block;
          }
        }
      } 
    }
  }
}

header {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 6fr 1fr 1fr;
  gap: 3.8rem;
  padding: 18px;
  font-size: 22px;
  align-items: center;
  min-width: 100%;
  background-color: $background-color;

  @include for-phone-only {
    padding: 1rem;
    gap: 1.8rem;
    // grid-template-columns: 9fr 1fr 1fr;
  }

  a {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 16px;

    @include for-phone-only {
      gap: 8px;
    }

    img {
      height: 56px;

      @include for-phone-only {
        height: 28px;
      }
    }

    span {
      min-width: 200px;
      color: $logo-blue;
      font-family: $font-logo;
      font-size: 22px;
      font-weight: bold;

      @include for-phone-only {
        min-width: 100px;
        font-size: 11px;
      }
    }
  }

  button {
    justify-self: end;
    align-self: center;
    padding: 0;
    background: none;
    display: flex;

    img {
      height: 40px;

      @include for-phone-only {
        height: 20px;
      }
    }
  }

  .logo-link {
    padding-left: 40px;

    @include for-phone-only {
      padding-left: 18px;
    }
  }

  .languages-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;

    ul {
      background-color: #5c207d40;
      position: absolute;
      z-index: 100;
      top: 100px;
      font-size: 18px;
      list-style: none;
      border-radius: 1.1rem;
      padding: 1.1rem 1.7rem;
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      visibility: hidden;

      @include for-phone-only {
        top: 50px;
        font-size: 9px;
      }

      li {
        padding: 0 px;

        a {
          padding-left: 0;
          color: #fff;
        }
      }
    }
  }
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  background-color: $background-color;
  min-height: 100%;
  padding: 20px 100px;
  position: fixed;
  top: 8vh;
  z-index: 1;
  min-width: 100%;
  visibility: hidden;
  overflow-y: auto;

  @include for-phone-only {
    top: 5vh;
    padding: 0 18px;
    min-width: 360px;
  }

  a {
    color: #fff;
    // transition: all 1s ease-in-out;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    list-style: none;

    @include for-phone-only {
      gap: 55px;
    }

    a {
      font-size: 2.8rem;
      padding-left: 20px;

      @include for-phone-only {
        font-size: 2.2rem;
        padding-left: 8px;
      }

      &:hover {
        background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    li {
      img {
        opacity: 0;

        @include for-phone-only {
          height: 17px;
        }
      }

      .navlink-gradient2:hover {
        background: rgb(74, 196, 28);
        background: -moz-linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgb(74, 196, 28) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(74, 196, 28, 1) 2%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ac41c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      .navlink-gradient3:hover {
        background: rgb(255, 142, 12);
        background: -moz-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: -webkit-linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        background: linear-gradient(
          90deg,
          rgba(255, 142, 12, 1) 22%,
          rgba(49, 215, 218, 1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff8e0c",endColorstr="#31d7da",GradientType=1);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }

  li:hover {
    img {
      opacity: 1;
    }
  }

  .nav-footer {
    font-size: 1.4rem;
    justify-self: end;
    height: 90px;

    a {
      display: flex;
      flex-direction: row;
      gap: 14px;
      align-items: center;

      @include for-phone-only {
        gap: 9px;
      }

      img {
        height: 36px;

        @include for-phone-only {
          height: 24px;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-direction: row;
  // align-items: center;
  min-height: 92vh;
  padding: 60px 0 40px 140px;
  gap: 30px;

  @include for-phone-only {
    padding: 0 20px 20px 20px;
  }

  button {
    max-width: 260px;

    @include for-phone-only {
      width: 160px;
    }
  }

  img {
    max-width: 800px;
    height: 200px;
    rotate: -45deg;
  }

  .main-text-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 980px;
    text-align: left;
    justify-content: center;

    @include for-phone-only {
      max-width: 300px;
      align-items: center;
    }

    .main-text {
      margin-bottom: 50px;
      height: 100px;

      h1 {
        font-size: 50px;

        @include for-phone-only {
          font-size: 25px;
        }
      }

      span {
        background: -webkit-linear-gradient(right, #31d7da, #ed20d2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    p {
      font-size: 20px;
      font-optical-sizing: auto;

      @include for-phone-only {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}

section {
  display: flex;
  justify-content: center;
  padding: 30px;

  @include for-phone-only {
    padding: 40px 18px;
  }
}

.main-section {
  h2 {
    font-size: $section-headline-size;

    @include for-phone-only {
      font-size: $mobile-section-headline-s;
    }
  }

  h3 {
    font-size: 1.8em;

    @include for-phone-only {
      font-size: 1em;
    }
  }
}

.awards-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 3% 8%;
  background-color: #000;

  @include for-phone-only {
    gap: 1.6rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 5rem;
  }

  img {
    width: 80px;

    @include for-phone-only {
      width: 40px;
      justify-self: center;
    }
  }
}

.benefits-section-short {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  background-color: #000;

  h2 {
    font-size: $section-headline-size;

    @include for-phone-only {
      font-size: $mobile-section-headline-s;
    }
  }

  .benefits-short-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2.3rem;
    text-align: center;
    color: #000;

    @include for-phone-only {
      display: flex;
      flex-direction: column;
    }

    div {
      align-self: center;
      padding: 2rem 1rem;
      border-radius: 16px;
      background-color: #fff;
      height: 160px;
      width: 18vw;

      @include for-phone-only {
        width: 80vw;
        height: 70px;
        font-size: 1.8em;
        padding: 2.5rem 1rem;
      }
    }
  }
}

.benefits-long-section {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: $section-headline-size;
    text-align: center;
    margin-top: 2rem;
  }

  .benefits-long-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.8rem 0;
    gap: 2.4rem;

    .benefit-card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2.4rem;
      padding: 2rem;
      background-color: #fff;
      border-radius: 16px;
      color: #130515;
      max-width: 70vw;

      @include for-phone-only {
        flex-direction: column;
      }

      img {
        height: 60vh;
        border-radius: 16px;

        @include for-phone-only {
          height: 30vh;
        }
      }

      .benefit-card__text-box {
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;

        span {
          font-size: 1.3em;
        }

        button {
          max-width: 360px;

          @include for-phone-only {
            width: 180px;
          }
        }
      }
    }
  }
}

.reviews-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  padding-top: 4rem;

  @include for-phone-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    p {
      padding: 0 10px;
    }
  }

  h2 {
    font-size: $section-headline-size;

    @include for-phone-only {
      font-size: $mobile-section-headline-s;
    }
  }

  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3.4rem;
    padding: 5rem 0;
    flex-wrap: wrap;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 24%;
      border-radius: 16px;
      padding: 2.4rem 2rem;
      gap: 3.1rem;
      min-width: 260px;

      span {
        font-weight: bold;
        font-size: 1.8em;
      }

      p {
        color: #130515;
        padding: 2.7rem 0;
        font-size: 1.1em;
      }
    }

    .review-box1 {
      background-color: #7099d7;
    }

    .review-box2 {
      background-color: #db7be7;
    }

    .review-box3 {
      background-color: #31d7da;
    }
  }
}

.qa-section {
  .accordion-items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    .accordion {
      border-bottom: 1px solid hsla(0, 0%, 100%, .3);
      width: 100%;
      cursor: pointer;
      transition: background-color .5s;
      padding: 0 12px;
  
      &.sky:hover {
        background-color: #31d7da;
      }
  
      &.blue:hover {
        background-color: #7099d7;
      }
  
      &.pink:hover {
        background-color: #db7be7;
      }
  
      &.active.sky {
        background-color: #31d7da;
      }
  
      &.active.blue {
        background-color: #7099d7;
      }
  
      &.active.pink {
        background-color: #db7be7;
      }
      
      &__titlecontainer {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 80px;
        font-size: 16px;
        gap: 6px;
  
        .accordion__icon {
          margin-right: 10px;
          &::after {
            content: '';
            display: block;
            background: #fff;
            width: 2px;
            height: 16px;
            transform: rotate(90deg);
            transition: transform .5s ease-out;
          }
  
          &::before {
            position: absolute;
            content: '';
            display: block;
            background: #fff;
            width: 2px;
            height: 16px;
            transform: rotate(0deg);
            transition: transform .5s ease-out;
          }
        }
      }
  
      &__body {
        max-height: 0;
        transition: all .5s ease-out;
        will-change: max-height;
        overflow: hidden;
  
        p {
          padding: 1em 0;
          font-size: 16px;
          line-height: 30px;
          color: #fff;
          white-space: pre-line;
        }
      }
  
      &.active .accordion__body {
        max-height: 25em; 
      }
  
      &.active .accordion__icon {
        &::after {
          transform: rotate(270deg) !important;
        }
  
        &::before {
          transform: rotate(-270deg) !important;        
        } 
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  text-align: center;
  gap: 1.5rem;
}

.menu-toggle {
  height: 26px;
  width: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;

  @include for-phone-only {
    height: 13px;
    width: 14.5px;
    justify-self: center;
  }
}

.menu-toggle-bar {
  display: block;
  min-width: unset;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: $menu-blue;
  transition: all 0.35s ease-in-out;

  @include for-phone-only {
    height: 2px;
  }

  .nav-open & {
    width: 145%;
    &.menu-toggle-bar--top {
      transform: translate(0, 11px) rotate(315deg);

      @include for-phone-only {
        transform: translate(0, 5.5px) rotate(315deg);
      }
    }
    &.menu-toggle-bar--middle {
      opacity: 0;
    }
    &.menu-toggle-bar--bottom {
      transform: translate(0, -11px) rotate(-315deg);

      @include for-phone-only {
        transform: translate(0, -5.5px) rotate(-315deg);
      }
    }
  }
}
